@import '../../../../assets/scss/breakpoints';

:host {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
}

.card {
  box-sizing: border-box;
  margin-top: 20px;
}

@media(max-width: map-get($breakpoints, xs)) {
  .card {
    margin-top: 10px;
  }
}

.reserv-info {
  display: block;
  word-spacing: .11243em;
}

.error-spinner-wrapper {
  margin-top: 40px;
}

.spinner {
  margin: 0 auto;
}
