@mixin ra-room-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .ra-room-title {
    &:hover, &:focus {
      color: mat-color($foreground, secondary-text) !important;
      background: mat-color($background, 'hover');
    }
  }
}
