:host {
  display: contents;
}

mat-card {
  display: flex;
  flex-direction: column;
}

mat-card-content {
  word-spacing: .11243em;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.photos {
  height: 200px;
}

.info p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.description {
  margin-bottom: 10px;
}

.info-heading {
  margin-bottom: 10px;
  margin-top: auto;
}

.label {
  margin-right: 10px;
}

.ra-room-title {
  outline: 0;
  text-decoration: none;
  color: inherit;
}
