:host {
  display: contents;
}
.photos {
  height: 200px;
}

.info p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.description {
  margin-bottom: 25px;
}

.info-heading {
  margin-bottom: 10px;
}

.label {
  margin-right: 10px;
}

.ra-room-title {
  outline: 0;
  text-decoration: none;
  color: inherit;
}
