:host {
  display: flex;
  align-items: center;
  padding: 10px;
}

.user-info {
  margin-left: 14px;
  margin-bottom: 0;
  margin-top: 0;
}

.user-info span {
  display: block;
}

.user-menu-user-name{
  font-weight: bold;
}
