.container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

$form-pad: 30px;
.form-wrapper {
  flex: 1;
  max-width: 400px;
  padding: $form-pad;
  text-align: left;
}

.form-title {
  margin-bottom: 20px;
}

.field {
  width: 100%;
  margin-bottom: 5px;
}

.btns-wrapper {
  text-align: right;

  &:first-child {
    margin-rigth: 5px;
  }
}

.btns-wrapper button:first-child {
  margin-right: 10px;
}

.spinner {
  margin: 50px auto 0;
}

.error-msg {
  @extend .spinner;
  display: block;
  max-width: 590px;
}

.duplicate-email-error {
  @extend .form-title;
  display: block;
}
