.search-panel {
  display: flex;
  flex-direction: column;
  z-index: 1;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.field-wrapper {
  display: flex;
  align-items: center;
  height: 56px;
  z-index: 2;
  padding: 0;
}

.backdrop {
  flex: 1;
}

$controls-margin: 20px;

.search {
  margin: 0 $controls-margin;
}

.search-results {
  text-align: left;
  font-weight: normal;
}

.spinner {
  margin: 10px auto;
}
