<ul [class.list]="listtype === 'list'">
  <li *ngFor="let reservation of reservations">
    <ra-reservation
        [showPhoto]="listtype != 'list'"
        [showTitle]="showTitle"
        [showStatus]="showStatus"
        [showActions]="showActions"
        [reservation]="reservation"
        (remove)="remove(reservation)"></ra-reservation>
  </li>
</ul>
<mat-card *ngIf="reservations?.length === 0">
  <p class="mat-body-1 ra-reservations-list-empty-msg"
     i18n>Não há reservas</p>
</mat-card>
