@import '../../../assets/scss/breakpoints';
@import 'header-height';

.header {
  height: $header-height;
  font-size: 1px;
  line-height: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}

@media (max-width: map-get($breakpoints, xs)) {
  .header {
    padding: 0;
  }
}

$header-gap: 10px;

.title {
  text-align: center;
  margin-left: $header-gap;
  display: inline-block;
  margin-bottom: 0;
  word-spacing: .11243em;
}

.title span {
  position: relative;
  top: .17em;
}

.right-side {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.user-menu {
  margin: 0 6px;
}
