@import '../app/shared/overlay-panel/_overlay-panel-theme';
@import '../app/main/header/user-menu/user-menu-user/user-menu-user-theme';
@import '../app/main/header/mobile-search/mobile-search-theme';
@import '../app/main/header/mobile-search/mobile-search-input/_mobile-search-input-theme';
@import '../app/main/notifications/notifications-panel/notifications-panel-theme';
@import '../app/main/notifications/notification/notification-theme';
@import '../app/main/reservations/reservations-list/reservation/reservation-theme';
@import '../app/shared/image-slideshow/image-slideshow-theme';
@import '../app/main/reservations/reservations-list/reservations-list-theme';

@mixin backdropbg ($background) {

  $opacity: 0.6;
  $backdrop-color: mat-color($background, card, $opacity);

  @if (type-of($backdrop-color) == color) {
    // We use invert() here to have the darken the background color expected to be used. If the
    // background is light, we use a dark backdrop. If the background is dark,
    // we use a light backdrop.
    background-color: invert($backdrop-color);
  }
  @else {
    // If we couldn't resolve the backdrop color to a color value, fall back to using
    // `opacity` to make it opaque since its end value could be a solid color.
    background-color: $backdrop-color;
    opacity: $opacity;
  }
}

@mixin ra-logo-theme($theme) {
  $foreground: map-get($theme, foreground);

  ra-logo svg.logo {
    fill: mat-color($foreground, text);
  }
}

@mixin ra-message-panel-theme($theme) {
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  ra-message-panel {
    .message-panel-error {
      background-color: mat-color($warn, lighter);
      color: mat-color($warn, "400-contrast");
      border-left: 10px solid mat-color($warn, 900);
    }

    .message-panel-success {
      background-color: mat-color($mat-light-green, 100);
      color: #000;
      border-left: 10px solid mat-color($mat-light-green, 800);
    }

    .btn {
      background-color: mat-color($mat-gray, 800);
      color: #FFFFFF;

      $bg-hover: mat-color($mat-gray, 600);

      &:hover {
        background-color: $bg-hover;
      }

      &:focus {
        background-color: $bg-hover;
      }
    }
  }
}

@mixin ra-overlay-spinner-theme($theme) {
  $background: map-get($theme, background);

  ra-overlay-spinner {
    @include backdropbg($background);
  }
}

@mixin ra-theme($theme) {
  @include ra-logo-theme($theme);
  @include ra-message-panel-theme($theme);
  @include ra-overlay-spinner-theme($theme);
  @include ra-user-menu-user-theme($theme);
  @include ra-overlay-panel-theme($theme);
  @include ra-mobile-search-theme($theme);
  @include ra-mobile-search-input-theme($theme);
  @include ra-notifications-panel-theme($theme);
  @include ra-notification-theme($theme);
  @include ra-reservation-theme($theme);
  @include ra-image-slideshow-theme($theme);
  @include ra-reservations-list-theme($theme);
}
