<div class="container">
  <!-- hack that makes it possible to translate the title of the header
       and the title of the page -->
  <span #pageTitle
        pageTitle="Detalhes do Espaço"
        i18n-pageTitle></span>
  <ng-container *ngIf="error || loading; else main">
    <ra-message-panel
        [closeButton]="false"
        *ngIf="error"
        i18n>Ops,
      algo deu errado, por favor, verifique sua conexão com
      a Internet e tente novamente</ra-message-panel>
    <mat-spinner
        *ngIf="loading"
        color="accent"
        class="spinner"
        diameter="50"></mat-spinner>
  </ng-container>
  <ng-template #main>
    <ra-room class="room-info" [room]="room"></ra-room>
    <div class="reservs-wrapper">
      <ra-reservations-panel [roomid]="room._id" ></ra-reservations-panel>
    </div>
  </ng-template>
</div>
